<nav class="bg-[#FEFEFE] fixed w-full z-20 top-0 inset-s-0 border-b border-default">
  <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto py-2 px-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="favicon.png" class="h-7 rounded-xl" alt="Flowbite Logo" />
      <span class="self-center hidden sm:flex text-xl text-heading font-semibold whitespace-nowrap"
        >Social App</span
      >
    </a>

    <div class="" id="navbar-default">
      <ul
        class="font-bold flex px-2 py-1 border border-gray-200 rounded-[10px] bg-[#fefdffd1] md:space-x-8 rtl:space-x-reverse"
      >
        <li class="me-0">
          <a
            routerLink="./feed"
            routerLinkActive="!text-fg-brand bg-white"
            class="block py-2 px-2 sm:px-4 text-gray-600 rounded-[8px] hover:text-black text-[14px]"
            aria-current="page"
          >
            <i class="fa-regular fa-house sm:me-1 m-0"></i>
            <span class="hidden sm:inline">Feed</span></a
          >
        </li>
        <li class="me-0">
          <a
            routerLink="./profile"
            routerLinkActive="!text-fg-brand !bg-white"
            class="block py-2 px-2 sm:px-4 text-gray-600 rounded-[8px] hover:text-black text-[14px]"
            aria-current="page"
          >
            <i class="fa-regular fa-user sm:me-1 m-0"></i>
            <span class="hidden sm:inline">Profile</span></a
          >
        </li>
        <li class="me-0">
          <a
            routerLink="./notifications"
            routerLinkActive="!text-fg-brand bg-white"
            class="block py-2 px-2 sm:px-4 text-gray-600 rounded-[8px] hover:text-black text-[14px]"
            aria-current="page"
          >
            <i class="fa-regular fa-bell sm:me-1 m-0"></i>
            <span class="hidden sm:inline">Notifications</span></a
          >
        </li>
      </ul>
    </div>
    <button
      (click)="toggle()"
      class="relative cursor-pointer flex justify-between items-center text-gray-600 text-[16px] font-semibold px-2 py-1 border border-gray-200 rounded-2xl bg-[#fefdffd1]"
    >
      <img class="h-8 w-8 rounded-full object-cover me-1" src="image.png" alt="Account Photo" />
      <span class="sm:me-1 m-0 hidden md:inline">ali mohamed</span>
      <i class="fa-solid fa-bars"></i>
      <div
        class="absolute top-full inset-e-0 w-50 font-semibold mt-3 p-3 flex-col text-start border border-gray-200 rounded-xl bg-white text-[12px]"
        [class]="toggler ? 'flex' : 'hidden'"
      >
        <span
          (click)="goTo('/main/profile')"
          class="mb-2 p-2 hover:bg-gray-300 rounded-[8px] w-full"
        >
          <i class="fa-regular fa-user"></i>
          Profile
        </span>
        <span
          (click)="goTo('/main/change-password')"
          class="mb-2 p-2 hover:bg-gray-300 rounded-[8px] w-full"
        >
          <i class="fa-solid fa-user-shield"></i>
          Change Password
        </span>
        <span
          (click)="goTo()"
          class="mb-2 p-2 hover:bg-red-500 hover:text-white rounded-[8px] w-full text-red-500"
        >
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          Sign Out
        </span>
      </div>
    </button>
  </div>
</nav>
